NET "clk_i" LOC = "B8"; # Bank = 0, Signal name = MCLK
NET "clk_i" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_i" TNM_NET = "CLOCK_50";
TIMESPEC    TS_CLOCK_50 = PERIOD CLOCK_50 50 MHz HIGH 50 %;

# Pin assignment for LEDs
NET "gpioPIO_OUT<7>" LOC = "g1" ;
NET "gpioPIO_OUT<6>" LOC = "p4" ;
NET "gpioPIO_OUT<5>" LOC = "n4" ;
NET "gpioPIO_OUT<4>" LOC = "n5" ;
NET "gpioPIO_OUT<3>" LOC = "p6" ;
NET "gpioPIO_OUT<2>" LOC = "p7" ;
NET "gpioPIO_OUT<1>" LOC = "m11" ;
NET "gpioPIO_OUT<0>" LOC = "m5" ;

# button 0
NET "reset" LOC = "g12";

# Pin assignment for VGA
NET "HS"   LOC = "J14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = HSYNC
NET "VS"   LOC = "K13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = VSYNC

NET "OutRed<2>"  LOC = "F13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED2
NET "OutRed<1>"  LOC = "D13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED1
NET "OutRed<0>"  LOC = "C14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED0
NET "OutGreen<2>"  LOC = "G14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN2
NET "OutGreen<1>"  LOC = "G13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN1
NET "OutGreen<0>"  LOC = "F14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN0
NET "OutBlue<2>"  LOC = "J13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = BLU2
NET "OutBlue<1>"  LOC = "H13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = BLU1

# Connected to Basys2 onBoard 7seg display
NET "seg<0>" LOC = "L14"; # Bank = 1, Signal name = CA
NET "seg<1>" LOC = "H12"; # Bank = 1, Signal name = CB
NET "seg<2>" LOC = "N14"; # Bank = 1, Signal name = CC
NET "seg<3>" LOC = "N11"; # Bank = 2, Signal name = CD
NET "seg<4>" LOC = "P12"; # Bank = 2, Signal name = CE
NET "seg<5>" LOC = "L13"; # Bank = 1, Signal name = CF
NET "seg<6>" LOC = "M12"; # Bank = 1, Signal name = CG

NET "an<3>" LOC = "K14"; # Bank = 1, Signal name = AN3
NET "an<2>" LOC = "M13"; # Bank = 1, Signal name = AN2
NET "an<1>" LOC = "J12"; # Bank = 1, Signal name = AN1
NET "an<0>" LOC = "F12"; # Bank = 1, Signal name = AN0
